.burgerMenu {
	position: absolute;
	top: 0;
	margin-right: 3vh;
	right: 0;
	height: 100%;

	img {
		height: 15vh;
		width: 15vh;

		pointer-events: all;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}
	}
}