#Phone {
    position: absolute;
    display: block;
    box-sizing: border-box;

    width: 30vw;
    height: 76vh;
    top: 8vh;
    left: 35vw;

    border-radius: 6vh 6vh 0 0;
    background-color: var(--elements_color_low);
    text-align: center;
    z-index: 15;


    // Screen
    #phoneScreen {
        display: block;
        box-sizing: border-box;
        width: 92%;
        height: 96%;
        margin-top: 3vh;
        margin-left: 4%;
        border-radius: 5vh 5vh 0 0;
        background-color: var(--background_color-low);

        // Topbar
        #phoneTop {
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 10vh;
            padding-top: 1.5vh;

            #notch {
                box-sizing: border-box;
                width: 2.5vh;
                height: 2.5vh;
                border-radius: 5vh;
                margin-left: 48%;
                background-color: var(--elements_color_low);
            }

            // Arrow to close phone
            #arrowCloseDiv {
                position: absolute;
                width: 7vh;
                height: 10vh;
                left: 83%;
                top: 3vh;
                color: var(--elements_color_low);
                cursor: pointer;

                .arrowDiv {
                    font-size: 4vh;
                }
            }
        }


        // Content of screen
        #phoneContent {
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 86.5%;

            #messages {
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
                .phone-message {
                    padding: 2vh;
                    margin-bottom: 4vh;
                    
                    width: 70%;
                    span {
                        display: block;
                        font-size: 3vh;
                        &.emitter {
                            font-weight: bold;
                            margin-bottom: 2vh;
                        }
                    }

                    &.sender {
                        text-align: left;
                        background-color: var(--contrasted_color);
                        border-top-left-radius: 3vh;
                        border-bottom-left-radius: 3vh;
                        margin-left: 22.5%;
                    }
                    &.receiver {
                        text-align: left;
                        background-color: var(--shadow_color);
                        border-top-right-radius: 3vh;
                        border-bottom-right-radius: 3vh;
                    }
                }
            }
        }
    }
}


// Phone folded
#FoldedPhone {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 4vw;
    height: 10vh;
    top: 74vh;
    left: 48vw;
    text-align: center;
    cursor: pointer;
    z-index: 15;
    
    background-image: url('../../../public/phonetel.png');
    background-position: bottom;
    background-size: 10vh;
    background-repeat: no-repeat;
    filter: var(--invert_state);
}


// Phone folded and need to pick up
#PickUpPhone {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 4vw;
    height: 24vh;
    top: 60vh;
    left: 48vw;
    text-align: center;
    cursor: pointer;
    z-index: 15;

    #arrowPart {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 40%;
    }


    // Phone image
    #imgPart {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 60%;
        background-image: url('../../../public/phonetel.png');
        background-position: bottom;
        background-size: 10vh;
        background-repeat: no-repeat;
        animation: phoneRotate 1.5s linear infinite;
        filter: var(--invert_state);
    }
}


// Arrows div
.arrowDiv {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 33%;
    font-size: 5.5vh;
    animation: arrowMove 1.5s linear infinite;

    &:nth-child(2) {
        opacity: 50%;
    }
    &:nth-child(3) {
        opacity: 25%;
    }
}


// Animations 
@keyframes arrowMove {
    0%   {transform: translateY(-1.8vh);}
    50%  {transform: translateY(1.8vh);}
    100% {transform: translateY(-1.8vh);}
}
@keyframes phoneRotate {
    0%   {transform: rotateZ(-20deg);}
    50%  {transform: rotateZ(20deg);}
    100% {transform: rotateZ(-20deg);}  
}