.StartMenu {

    #container_button_host_page{
        display:flex;
        justify-content: center;
        height:100%;
        width:100%;

        button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--contrasted_color);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2vw;
            transition: 0.5s transform,0.5s box-shadow;
            height:10vh;
            width:20vw;
            border-radius: 40px;
            border-color: var(--elements_color);
            border-style: solid;
            display:flex;
            justify-content: center;
            align-items: center;
            box-shadow: -20px 20px 0px 0px var(--elements_color);
            cursor: pointer;

            &:hover {
                transform:translate(calc(-50% - 20px), calc( -50% - 20px));
                box-shadow: 0px 0px 0px 0px var(--elements_color);
                background-color: var(--shadow_color);
            }
        }
    }
}