#Association {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;

    // Side
    .sideAssoc {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        width: 50%;
        height: 90%;
        overflow-y: auto;
        padding-top: 2vh;
    }

    // Text element
    .assocElement {
        display: block;
        box-sizing: border-box;
        width: 60%;
        min-height: 9%;
        border-radius: 0.6vh;
        margin-bottom: 2vh;
        margin-left: 10vw;
        border: 0.4vh solid rgb(146, 146, 146);
        border-radius: 2vh;
        line-height: 6vh;
        background-color: var(--shadow_color);
        color: var(--background_color-low);
        font-size: 2.7vh;
        cursor: pointer;
        padding: 1vh 1vh;
        transition: 0.1s ease-in-out;

        &:hover {
            background-color: var(--contrasted_color);
        }

        &.selected {
            background-color: var(--contrasted_color);
            color: var(--elements_color_low);
            border: 0.6vh solid red;
        }
    }


    // Valid
    #validDivAssoc {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 10%;
        border-top: 0.2vh solid grey;
        text-align: center;

        button {
            width: 50%;
            height: 80%;
            margin-top: 0.2vh;
            border: none;
            border-radius: 0.6vh;
            cursor: pointer;
            background-color: var(--elements_color_low);
            color: var(--background_color-low);
            transition: 0.1s ease-in-out;
            font-size: 4vh;

            &:hover {
                background-color: var(--elements_color);
            }

            &:active {
                font-size: 3.8vh;
            }

            &:disabled {
                cursor: default;
                color: gray;

                &:active {
                    font-size: 4vh;
                }

                &:hover {
                    background-color: var(--elements_color_low);
                }
            }
        }
    }
}


// Association
@keyframes shakeElements {
    0%  {transform: translateX(-0.3vh);}
    50%  {transform: translateX(0.3vh);}
    100%  {transform: translateX(-0.3vh);}
}