#Transition {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;

    font-size: 8vh;
    padding-top: 30vh;
    padding-left: 2vw;
    padding-right: 2vw;
}