#Chambre {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;

    background-image: url('../../../public/chambre.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0vh -30vh;


    // Input div soluce
    #inputDivEnd {
        position: absolute;
        display: block;
        box-sizing: border-box;
        width: 33vw;
        height: 16vh;
        top: 69vh;
        left: 0;
        border-radius: 0 2vh 0 0;
        background-color: var(--shadow_color);
        font-size: 4vh;
        color: black;

        #inputEnd {
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 65%;
            
            input {
                display: inline-block;
                vertical-align: top;
                width: 17vw;
                height: 8vh;
                margin-top: 1vh;
                font-size: 3.2vh;
                padding-left: 0.6vw;
            }

            button {
                display: inline-block;
                vertical-align: top;
                width: 10vw;
                height: 8vh;
                margin-top: 1.2vh;
                margin-left: 1vw;
                border-radius: 0.6vh;
                font-size: 3vh;
                cursor: pointer;

                background-color: var(--contrasted_color);

                &:active {
                    font-size: 2.7vh;
                }

                &:disabled {
                    color: grey;
                    cursor: default;

                    &:active {
                        font-size: 3vh;
                    }
                }
            }
        }
    }
}