.topBar {
	position: relative;
	display: block;
	height: 15vh;
	background-color: var(--background_color);
	border: solid var(--border_size) var(--elements_color);
	#gameLogo {
		height: 100%;
		border-right: solid var(--border_size) var(--elements_color);
	}


	#themeSlider {
	    display: inline-block;
	    position: absolute;
	    background-color: var(--elements_color);
	    height: 80%;
	    top: 0px;
	    bottom: 0px;
	    width: 10vw;
	    margin: auto;
	    border-radius: 100vh; //yeah 100vh is a lot but we just want 100% so we don't care
	    right: 50vw;
	    transform: translateX(50%);
	    cursor : pointer;
	    
	    img {
	        border-radius: 100vh; //yeah 100vh is a lot but we just want 100% so we don't care
	        height: 100%;

	        &:hover {
	            height: 110%;
	            margin: -5%
	        }
	    }
	}
}
