:root {
  	--background_color: #FFFFFF;
  	--background_color-low: #FFFFFFC1;
	--elements_color: #000000;
	--elements_color_low: #000000C1;
	--contrasted_color: #74e49a;
	--shadow_color: #5fa677;
	--border_size: 4px;
	--invert_state: invert(0%);
}

//nightTheme
[data-theme="night"] {
	--background_color: #000000;
	--background_color-low: #000000C1;
	--elements_color: #FFFFFF;
	--elements_color_low: #FFFFFFC1;
	--invert_state: invert(100%);
}

.App {
	transform: translateY(0.6vh);
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;

	background-color: var(--background_color);

	color: var(--elements_color);
}

#Game {
	position: absolute;
	display: block;
	box-sizing: border-box;
	width: 100vw;
	height: 85vh;
}