.dropdownContent {
	z-index: 20;
	position: fixed;
	background-color: var(--background_color);
	border: solid var(--border_size) var(--elements_color);
	border-top: none;
	width: calc(100vw - 15vh - var(--border_size));
	box-sizing: border-box;
	left: calc(15vh + var(--border_size));
	text-align: right;

	.dropdownButton {
		display: block;
		line-height: 8vh;
		font-size: 5vh;
		padding-right: 3vw;
		cursor: pointer;
		transition: 0.2s ease-in-out;

		&:hover {
			padding-right: 4vw;
			opacity: 0.9;
		}
	}
}