#Boite {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;

    #container_button_host_page{
        position:relative;
        height:100%;
        width:100%;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #choiceSlide{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url('../../../public/BOITE_DE_NUIT.png');
    }
    
    #textSlide{
        top:0;
        left:0;
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        opacity:0%;
        background-image: none;
    }
    
    #text{
        color:black;
        z-index: 10;
        background-color: rgb(255,255,255,0.5);
        padding:5vw;
        border-style: solid;
        border-color: black;
        border-width: 8px;
    }
    
    .slide{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-image: url(../../../public/BOITE_DE_NUIT.png);
        background-position: center;
        background-size: cover;
    }
    
    #question{
        background-color: black;
        width:100%;
        height:10vh;
        color:white;
        text-align: center;
        text-transform: uppercase;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    #valider{
        background-color: white;
        padding-left: 6vw;
        padding-right: 6vw;
        padding: 1vw;
        border-radius: 40px;
        width:20vw;
        text-align: center;
        margin-bottom: 1vh;
        border-radius: 40px;
        border-style: solid;
        border-color: black;
        border-width: 8px;
        transition: 1s transform,0.5s background-color;
    }
    
    #valider.right{
        transform: translateX(30vw);
    }
    
    #valider.left{
        transform: translateX(-30vw);
    }
    
    #valider.active{
        background-color: #88E4A7;
    }
    
    #answers{
        display:flex;
        justify-content: space-around;
        width:100%;
    }
    
    .bouton_choix{
        z-index:20;
        background-color: rgb(255,255,255,0.5);
        padding-left: 4vw;
        padding-right: 4vw;
        padding: 2vw;
        border-radius: 40px;
        border-style: solid;
        border-color: black;
        border-width: 8px;
        transition:0.1s background-color;
        border-style: solid;
        border-color:black;
    }
    
    .bouton_choix:hover{
        background-color: rgb(255,255,255,1);
    }
    
    .bouton_choix.active{
        background-color: #88E4A7;
    }
    
    #validerSection{
        z-index: 20;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    
    #containerValider{
        display:flex;
        justify-content: center;
        width:80vw;
    }
    
    #error{
        color:white;
    }
    
    .invisible{
        opacity:0%;
    }
    
    #suivant{
        z-index:1;
        margin-top:10vh;
        background-color: white;
        padding-left: 6vw;
        padding-right: 6vw;
        padding: 1vw;
        border-radius: 40px;
        width:20vw;
        text-align: center;
        margin-bottom: 1vh;
        border-radius: 40px;
        border-style: solid;
        border-color: black;
        border-width: 8px;
        transition: 1s transform,0.5s background-color;
        
        &:hover {
            background-color: #88E4A7;
        }
    }
}